nav {
    height: 50px;
    width: 100%;
    background:#92bde7;
}

.my-profile {
    display: flex;
    position: absolute;
    top: 10px;
}

.icon{
    position: relative;
    top: 4px;
    padding-left: 20px;
}