<h1 mat-dialog-title>Favorite Animal</h1>
<div mat-dialog-content>
  My favorite animal is:
  <ul>
    <li>
      <span *ngIf="data.name">&#10003;</span> {{data.name}}
    </li>
    <li>
      <span *ngIf="data.email">&#10003;</span> {{data.email}}
    </li>
    <li>
      <span *ngIf="data.location">&#10003;</span> {{data.location}}
    </li>
    <li>
        <span *ngIf="data.mobile_no">&#10003;</span> {{data.mobile_no}}
      </li>
      <li>
        <span *ngIf="data.resume">&#10003;</span> {{data.resume}}
      </li>
  </ul>
</div>