<div style="display: flex;justify-content: space-between;">
    <div>
    <h3 mat-dialog-title>Add Job</h3>
    </div>
    <div class="cancel">
        <p class="full">
            <button mat-raised-button mat-dialog-close type="close">Cancel</button>
        </p>
    </div>
</div>
    <mat-dialog-content>
        <div class="contact">
            <form [formGroup]="addJobForm" (ngSubmit)="onSubmit()">
                <p>
                    <label>Title</label>
                    <input type="text" name="title" formControlName="title" required>
                </p>
                <p>
                    <label>Description</label>
                    <input type="text" name="description" formControlName="description" required>
                </p>
                <p>
                    <label>Expire Date</label>
                    <input type="date" name="expire_date" formControlName="expire_date" required>
                </p>
                <p>
                    <label>Location</label>
                    <select name='locality' formControlName="locality" required>
                        <option *ngFor="let item of locations" [value]="item">
                          {{item}}
                        </option>    
                    </select>
                </p>
                <p>
                    <label>Posted By</label>
                    <input type="text" name="posted_by" formControlName="posted_by" required>
                </p>
                
                <p class="full">
                    <button mat-raised-button color="primary" mat-dialog-close type="submit">Submit</button>
                </p>
            
        
            </form>
        </div>
</mat-dialog-content>
