<div class="container">
    <div style="display: flex;">
        <div>
            <h1 class="brand"><span>Welcome User </span>Login</h1>
        </div>
        <div class="register-div"><button mat-raised-button color="primary" class="register"
                [routerLink]="['']">Register</button></div>
    </div>
    <div class="wrapper animated bounceInLeft">
        <div class="company-info">
            <h3>Sneha's Enterprises</h3>
            <ul>
                <li><i class="fa fa-road"></i>Bangalore</li>
                <li><i class="fa fa-phone"></i> (+91) 8389874080</li>
                <li><i class="fa fa-envelope"></i>Sneha's Job Portal</li>
            </ul>
        </div>
        <div class="contact">
            <h3>Email Us</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <p>
                    <label>Email Address</label>
                    <input type="email" name="email" formControlName="email" required>
                    <span class="text-danger"
                        *ngIf="(loginFormControl.email.touched || submitted) && loginFormControl.email.errors?.required">
                        Email is required
                    </span>
                    <span class="text-danger"
                        *ngIf="loginFormControl.email.touched && loginFormControl.email.errors?.email">
                        Enter a valid email address
                    </span>
                </p>
                <p class="full">
                    <button type="submit">Submit</button>
                </p>
            </form>
        </div>
    </div>
</div>