<mat-card *ngFor="let job of jobs">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>job.title</mat-card-title>
        <mat-card-subtitle>job.company</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <span>
            job.description
        </span>
        <span>
            job.locality
        </span>
        <span>
            job.expire_date 
        </span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Apply</button>
      </mat-card-actions>
</mat-card>